<?php
/**
 * Utility config.php
 * Main configuration file, contains all passwords and global static variable definitions
 * 
 * @author Nevo Band
 */

/*
 * Debug flag. If set to 1, certain testing statements and functions can be used
 */
define("DEBUG", 0);


/*
 Basic definitions
 */
define("NEW_LEAVE",1);
define("APPROVED",2);
define("WAITING_APPROVAL",3);
define("DELETED",4);
define("NOT_APPROVED",5);

define("ADMIN",1);
define("USER",2);
define("VIEWER",3);

define("ENABLED",1);
define("DISABLED",0);

define("FISCAL_YEAR",25);
define("APPOINTMENT_YEAR",1);

define("AP_HOURS_BLOCK",4);
/*
 Configuration for vacation tracker
 SQL authentication information
 */
define("SQLHOST", "");
define("SQLUSERNAME","");
define("SQLPASSWORD","");
define("SQLDATABASE","");

/*
 LDAP settings
 */
define("LDAP_HOST", ""); // ldap server
define("LDAP_PEOPLE_DN", "");
define("LDAP_GROUP_DN", "");
define("LDAP_SSL", "");
define("LDAP_PORT", "");

define("SENDER_APP_ID" ,"");

# Development URL for Banner
define("BANNER_URL", ""); 

# Development URL for Banner test site
define("BANNER_URL_TEST","");

/*
 Authentication
 */
define("TOKENTIMEOUT", 7); //days

